Flask==0.10.1
Flask-Bcrypt==0.6.0
Flask-Login==0.2.11
Flask-SQLAlchemy==2.0
Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==0.9.8
Werkzeug==0.9.6
itsdangerous==0.24
marshmallow==1.1.0
psycopg2==2.5.4
py-bcrypt==0.4
waitress==0.8.9
wsgiref==0.1.2
