<div class="pure-g">
<div class="pure-u-1 centered">
	<a class="pure-button button-primary" href="#/main">View Nearby Traders</a>
</div>
<div class="pure-u-1">
	<p>Your Collection <a class="pure-button button-small" ng-click="addCard()">Add</a></p>
	<table id="collection-table" class="pure-table pure-table-horizontal">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="card in cards">
        <td>{{ card.name }}</td>
        <td class="collection-table-delete-col">
        	<a class="pure-button button-small" ng-click="deleteCard($index)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>