a {
    color: black;
    text-decoration: none;
}

body {
    background-color: #ecf0f1;
}

#header {
    background-color: #2c3e50;
    text-align: center;
    color: #ffffff;
}

.nav {
    background-color: #2c3e50;
    text-align: center;
    color: #ffffff;
    padding-bottom: 12px;
}

.nav-active {
    border-bottom: 5px solid #e74c3c;
}

.nav a {
    color: white;
}

#body {
    padding: 10px;
}

#logo {
    font-size: 28px;
    font-family: 'Ubuntu', sans-serif;
}

.nav-bar {
    margin-bottom: 20px;
}

#collection-table, #nearby-traders-table {
    background: white;
    width: 100%;
}

.collection-table-delete-col {
    text-align: right;
}

.button-small {
    font-size: 12px;
}

.button-primary {
    color: #ffffff;
    border-radius: 4px;
    background: #e74c3c;
}

.centered {
    text-align: center;
}

#add-card-form fieldset {
    padding-top: 0px;
}

.user-name-link {
    padding: 7px 0px 7px 0px;
    display: block;
}

.user-last-active, .messages-from {
    font-size: 12px;
    color: #aaa;
    font-style: italic;
}

#send-message {
    margin: 0px 0px 10px 0px;
    width: 100%;
}

#autocomplete {
    border: 0;
}

#message-box {
    width: 98%;
}

#message-submit-button {
    margin: 10px 0px 10px 0px;
    width: 100%;
}

.footer {
    color: #bdc3c7;
    font-size: 9px;
    text-align: center;
}
