{% extends "layout.html" %}
{% set active_page = "Collection" %}
{% set show_nav = True %}
{% block content %}
<div class="pure-g">
    <div class="pure-u-1">
        <form id="add-card-form" method="POST" action="{{ url_for('add_card') }}" class="pure-form">
            <fieldset>
                <input id="add-card-input" name="card_name" type="text" class="pure-u-1" placeholder="add a card" autocomplete="off" autocorrect="off">
                <div id="autocomplete" class="pure-menu pure-menu-open">
                    <ul></ul>
                </div>
            </fieldset>
        </form>
        <table id="collection-table" class="pure-table pure-table-horizontal">
            <thead>
                <tr>
                    <th>Your Collection</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for card in cards %}
                <tr>
                    <td>{{ card.name }}</td>
                    <td class="collection-table-delete-col">
                        <a href="{{ url_for('remove_card', card_id=card.id) }}" class="pure-button button-primary">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="2">Nothing in your collection. Try adding some cards!</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    function addCardClicked(name) {
        $("#add-card-input").val(name);
        $("#add-card-form").submit();
    }

    $(document).ready(function() {
        $("#add-card-input").keyup(function() {
            $("#autocomplete ul").find('li').remove().end();
            var val = $("#add-card-input").val();
            if (val.length > 3) {
                $.get("https://api.deckbrew.com/mtg/cards/typeahead?q=" + val, function(data) {
                    var card;
                    $("#autocomplete ul").find('li').remove().end();
                    for (i = 0; i < data.length; i++) {
                        card = data[i];
                        $('#autocomplete ul').append("<li><a onclick=\"addCardClicked('" + card["name"].replace("'", "\\'") + "')\" href=\"#\">" + card["name"] + "</a></li>");
                    }
                });
            }
        });
    });
</script>
{% endblock %}
