{% extends "layout.html" %}
{% set active_page = "Nearby" %}
{% set show_nav = True %}
{% block content %}
<div class="pure-g">
    <div class="pure-u-1">
        <table id="nearby-traders-table" class="pure-table pure-table-horizontal">
            <thead>
                <tr>
                    <th>Nearby Traders</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>
                        <a href="{{ url_for('user_by_id', user_id=user.id) }}" class="user-name-link">
                            {{ user.name }} <span class="user-last-active">Last active: {{ user.pretty_last_active() }}</span>
                        </a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td>No nearby traders. Tell your friends about tradebindr.com!</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
