{% extends "layout.html" %}
{% set active_page = "Nearby" %}
{% set show_nav = True %}
{% block content %}
<div class="pure-g">
    <div class="pure-u-1">
        <table id="collection-table" class="pure-table pure-table-horizontal">
            <thead>
                <tr>
                    <th>{{ user.name }}'s Collection</th>
                </tr>
            </thead>
            <tbody>
                {% for card in cards %}
                <tr style="height: 51px;">
                    <td>{{ card.name }}</td>
                </tr>
                {% else %}
                <tr style="height: 51px;">
                    <td>Empty</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
